extends layout

block content
  h1 Posting #{id}
  .posting-view
    .sidebar 
      h1 #{posting.employee.profile.name}
    .info
      h1 Bio
        p #{posting.bio}
      h1 Job Duties
        p #{posting.jobDuties}
      h1 Exchanges of Interest
        p #{posting.idealSwitches}
  p.
    bio
    duration
    expiry date
    tags
    job duties
    ideal switches